@page

@model IndexModel
@{
    ViewData["Title"] = "Account Management";
}

<div class="row">
    <h1>@ViewBag.Title</h1>
    @if (User.Identity is { IsAuthenticated: true })
    {

        <p class="lead">Identity Name: <b class="text-info">@User.Identity.Name</b></p>

        <p>
            @foreach (var claim in HttpContext.User.Claims)
            {
                <div>@claim.Type: <b>@claim.Value</b></div>
            }
        </p>

        <div class="col">

            <form asp-page="/connect/logout" method="post">
                <button class="btn btn-danger" type="submit">Sign out</button>
            </form>

        </div>
    }
</div>
